{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="row wrap d-md-flex">
						<div class="col-6 login-preview">
							<img src="{{ asset('images/blueprint.jpg') }}" width="450px" height="450px"/>
						</div>
						<div class="col-6 p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Create a new account</h3>
								</div>
							</div>
							{% for flash_error in app.flashes %}
								<div class="alert alert-danger" role="alert">{{ flash_error.0 }}</div>
							{% endfor %}

							{{ form_errors(registrationForm) }}
							{{ form_start(registrationForm) }}
							{{ form_row(registrationForm.full_name,{attr: {class: 'form-control'}}) }}
							{{ form_row(registrationForm.email,{attr: {class: 'form-control'}}) }}
							{{ form_row(registrationForm.plainPassword, {label: 'Password',attr: {class: 'form-control'}}) }}
							<button type="submit" class="btn btn-primary my-2">Register</button>
							{{ form_end(registrationForm) }}

							<p class="text-center">Already have an account?
								<a data-toggle="tab" href="{{ path('app_login') }}">Login</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
