{% extends './dashboard/base.html.twig' %}

{% block title %}
	Your Forms
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-md-8">
					Forms
				</div>
				<div class="col-md-4 text-right">
					<a href="{{ path('app_forms_create') }}" class="btn btn-sm btn-primary">Create new form</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="table"></div>
		</div>
	</div>
{% endblock %}

{% block scripts %}

	<script src="{{ asset('dashboard/plugins/datatables/datatables.min.js') }}"></script>
	<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
	<script src="{{ asset('dashboard/js/pages/forms/index.js') }}"></script>
	<script>
		$(function () {$('.table').initDataTables({{ datatable_settings(datatable) }});});
	</script>
{% endblock %}
